.datos_Pokemon>div{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding: 2rem;
    justify-content: space-around;
}

.datos_Pokemon label{
    display: flex;
    width: 20vw;
    height: 6vh;
    justify-content: space-between;
}
.datos_Pokemon button{
    width: 6vw;
    height: 6vh;
    text-align: center;
}
.datos_Pokemon .presionado{
    background-color: rgb(160, 224, 50);
}


    
