* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    display:flex;
    flex-wrap:wrap ;
    justify-content: center;

}
.index .partedearriba{
   
    width: 100vw;
    height: 65vh;
    display: flex;

}
.index .pokemonrival{
 
    height: 100%;
    width: 50%;
    
}
.index .pokemonrival h1{
  
    text-align-last: center;
}
.index .pokemonactual{
    
    height: 100%;
    width: 50%;
    
}
.index .pokemonactual h1{
  
    text-align-last: center;
}
.index .partedeabajo{
    
    width: 100vw;
    height: 35vh;
    display: flex;
}
.index .mensaje{
    background-color:rgb( 128, 128, 128);
    width: 60%;
    height: 100%;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    display: flex;
    align-items: center;

}
.index .mensaje h1{
    text-align-last: center;
 
} 
.index .menu{
    background-color: rgb( 128, 128, 128 );
    width: 40%;
    height: 100%;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    justify-content: center;
    display: flex;
    align-items: center;
}
.index .botonluchar{
    width: 10vw;
    height: 5vh;
    text-align: center;
}
.index .botonpokemon{
    width: 10vw;
    height: 5vh;
    text-align: center;
}
